#login-form {
  margin-bottom: 2rem;
  color: white;
}

#greeting {
  color: white;
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-family: "Do Hyeon", cursive;
}

.welcome {
  color: orange;
  font-size: 3.5rem;
}
